%heading {
    font-family: $heading-font;
    text-transform: uppercase;
    color: $secondary-color;
    text-align: center;
}

%p {
    font-size: rem(12px);
    line-height: rem(24px);
    font-family: $primary-font; 
    color: #CBCCC6;
    @include tablet {
        font-size: rem(14px);
        line-height: rem(32px);
    }
    @include desktop {
        font-size: rem(16px);
        line-height: rem(32px);
    }
}
%package-title {
    font-family: $secondary-font-bold;
    font-size: rem(16px);
    color: $light-color;
    text-transform: uppercase;
    padding-bottom: rem(8px);
    @include tablet {
        font-size: rem(18px);
    }
}

%section-title {
    padding-bottom: rem(24px);
    letter-spacing: 2px;
    @include tablet {
        padding-bottom: rem(50px);
    }
    @include desktop {
        padding-bottom: rem(40px);
    }
}

%section-subtitle {
    padding-bottom: rem(24px);
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: $heading-font;
    @include tablet {
        padding-bottom: rem(40px);
        font-size: rem(30px);
    }
    @include desktop {
        font-size: rem(50px);
    }
}

%section-title-lg {
    padding-bottom: rem(40px);
    letter-spacing: 2px;
}

%content-padding {
    padding-top: rem(24px);
    padding-bottom: rem(24px);
    @include tablet {
        padding-top: rem(32px);
        padding-bottom: rem(32px);
    }
    @include desktop {
        padding-top: 0;
        padding-bottom: rem(40px);
    }
}

%h1 {
    @extend %heading;
    font-size: rem(24px);
    line-height: rem(32px);
    letter-spacing: 2px;
    padding-bottom: rem(20px);
    @include tablet {
        font-size: rem(40px);
        letter-spacing: 3px;
        padding-bottom: rem(20px);
    }
    @include desktop {
        font-size: rem(50px);
        letter-spacing: 6px;
        padding-bottom: rem(70px);
    }
}

%h2 {
    @extend %heading;
    font-size: rem(24px);
    line-height: rem(32px);
    letter-spacing: 2px;
    @include tablet {
        font-size: rem(32px);
        letter-spacing: 3px;
        line-height: rem(45px);
    }
    @include desktop {
        font-size: rem(50px);
        letter-spacing: 2px;
        padding-bottom: rem(40px);
    }
}

%h3 {
    @extend %heading;
    font-size: rem(24px);
    line-height: rem(32px);
    letter-spacing: 2px;
    @include tablet {
        font-size: rem(32px);
    }
    @include desktop {
        font-size: rem(38px);
    }
}

%table-h {
    font-family: $secondary-font-bold;
    color: $light-color;
}

%table-bh {
    font-family: $secondary-font-light;
    letter-spacing: rem(2px);
    color: $light-color;
    letter-spacing: 0.25px;
    padding-top: rem(8px);
    padding-bottom: rem(8px);
    @include desktop {
        font-family: $secondary-font-bold;
    }
}

%table-bd {
    font-family: $secondary-font-bold;
    color: $secondary-color;
    font-weight: 700;
    text-align: end;
    letter-spacing: rem(2px);
    letter-spacing: 0.25px;
    padding-top: rem(8px);
    padding-bottom: rem(8px);
}