//Breakpoints
$phablet: 576px;
$tablet: 768px;
$desktop: 992px;
$desktop-xl: 1200px;
$desktop-xxl: 1440px;

//Fonts

//Colors
$primary-color:       #171717;
$secondary-color:     #C3922E;
$danger-color:        #FF5959;
$light-color:         #CBCCC6;
$active-color:        #2EAAC3; 