.features {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5rem 1rem;
}

@media (min-width: 997px) {
  .features {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('/static/img/99.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 160vw;
  }
  [data-theme='light'] .features  {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('/static/img/99.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 160vw;
  }
}

.featureSvg {
  height: 20px;
  width: 20px;
  margin-top:auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

[data-theme='dark'] .featureSvg {
  fill: var(--ifm-color-primary-light);
}

.heroLink {
  color: var(--ifm-color-primary-dark);
}

.heroLink:hover {
  text-decoration: none;
  color: var(--ifm-color-primary-dark);
}

[data-theme='dark'] .heroLink {
  color: var(--ifm-color-primary-light);
}

[data-theme='dark'] .heroLink {
  color: #fff;
}

.heroTitle {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.heroItem {
  height:250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  cursor:pointer;
  padding: 2rem;
  box-sizing: content-box;
  transition: ease 500ms;
  background-color: transparent;
}

[data-theme='dark'] .heroItem {
  background-color: rgba(0,0,0, 0);
}


.heroItem:hover {
  box-shadow: 0 16px 48px rgb(0 0 0 / 15%);
  background-color: #fff;
  transform: translateY(-1rem);
}

[data-theme='dark'] .heroItem:hover {
  background-color: rgba(0,0,0, 1);
}

[data-theme='dark'] .heroItem:hover {
  box-shadow: 0 16px 48px rgb(255 255 255 / 15%);
}

.heroDescription {
  font-size: 0.8rem;
}

